name: CI/CD PIpeline

on:
  push:
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"

      - name: Install dependecies
        run: npm ci

      - name: Run test
        run: npm run test

      - name: Lint code
        run: npm run lint || echo "Linting skipped"

      - name: Build docker image
        run: |
          docker build -t docker-app:${{ github.sha }} .

      - name: Test docker image
        run: |
          docker run --rm -p 3000:3000 docker-app:${{ github.sha }} npm run test:e2e || echo "E2E tests skipped"

  docker-push:
    needs: test-and-build
    if: github.ref == 'refs/heads/main' # Only on main branch
    runs-on: ubuntu:latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            mohitkumarvs/docker-actions-app:latest
            mohitkumarvs/docker-actions-app:${{ github.sha }}
          chache-from: type=gha
          chache-to: type=gha,mode=max
