name: CI/CD PIpeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Set up node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependecies
        run: npm install

      - name: Run Tests
        run: npm test
